<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о нашей организации</title>
    <link rel="stylesheet" href="/styles/aboutstyle.css"> 
</head>

<body>
    <h1>Информация о нашей организации</h1>
    <p>Это приложение представляет собой сайт нашей организации, 
       где можно просмотреть список автозапчастей, посмотреть 
       корзину и сделать заказы автозапчастей.</p>
    
    <p>Мы специализируемся на продаже высококачественных автозапчастей для различных марок автомобилей. Наша цель - предоставить нашим клиентам широкий выбор запчастей по доступным ценам. Мы стремимся обеспечить отличный сервис и быструю доставку, чтобы ваши автомобили всегда были в отличном состоянии.</p>

    <p>Наши специалисты готовы помочь вам с выбором необходимых запчастей и ответить на все ваши вопросы. Мы гарантируем качество нашей продукции и надежность каждой детали.</p>

    <a href="/">На главную</a>
</body>

</html>