<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/styles/infostyle.css"> 
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в нашу организацию!</h1>
        <ul class="menu">
            <li><a href="/about">О приложении</a></li>
            <li><a href="/store">Список автозапчастей</a></li>
            <li><a href="/history">История покупок</a></li>
        </ul>
         <img src="/images/mainimage.jpg" alt="Пример изображения" style="max-width: 100%; height: auto;">
    </div>
</body>
</html>